body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: aqua; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --colorOne: #001d3d;
  --colorTwo: #011627;
  --colorThree: #ffc300;
  --colorFour: #ffd60a;
  --colorFive: #38b000;
  --colorSix: #ffffff;
  --colorSeven: #111111;
  --colorEight: #70e000;
}

.home{
  color: #a9b6bd;
}

.nav-bar{
  display: flex;
  align-items: center;
  background-color: var(--colorTwo);
  color: var(--colorSix);
  padding-left: 20;
  
}

.nav-bar  a {
  color: var(--colorSix);
  text-decoration: none;
  margin-right: 1%;
  align-items: center;
  justify-content: center;
}

.title {
  /* align-items: center;
  text-align: center; */
  margin-right: 10%;
  font-size: 40px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 550;
}

.navbar a {
  margin-right: 10px; /* Change the value to your desired spacing */
}